# Main entry point for the role.

---

- name: "Main | Include role initialization tasks"
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/tasks/init.yml"
    apply:
      tags:
        - "always"
        - "run_acmesh_always"
  tags:
    - "always"
    - "run_acmesh_always"


- name: "Main | Include setup tasks (install): best platform matches (if any), then default"
  ansible.builtin.include_tasks:
    file: "{{ __run_acmesh_task_file }}"
    apply:
      tags:
        - "run_acmesh_setup"
  vars:
    __run_acmesh_task_file: "{{ role_path }}/tasks/setup/install/{{ __run_acmesh_loop_item }}"
  when:
    - run_acmesh_state == 'present'
    - __run_acmesh_task_file is ansible.builtin.file
  loop: "{{ __run_acmesh_platform_filenames_most_specific_first + ['default.yml'] }}"
  loop_control:
    loop_var: "__run_acmesh_loop_item"
  tags:
    - "run_acmesh_setup"


- name: "Main | Include configuration tasks: best platform matches (if any), then default"
  ansible.builtin.include_tasks:
    file: "{{ __run_acmesh_task_file }}"
    apply:
      tags:
        - "run_acmesh_config"
  vars:
    __run_acmesh_task_file: "{{ role_path }}/tasks/config/{{ __run_acmesh_loop_item }}"
  when:
    - run_acmesh_state == 'present'
    - __run_acmesh_task_file is ansible.builtin.file
  loop: "{{ __run_acmesh_platform_filenames_most_specific_first + ['default.yml'] }}"
  loop_control:
    loop_var: "__run_acmesh_loop_item"
  tags:
    - "run_acmesh_config"


- name: "Main | Include certificate tasks: best platform matches (if any), then default"
  ansible.builtin.include_tasks:
    file: "{{ __run_acmesh_task_file }}"
    apply:
      tags:
        - "run_acmesh_cert"
  vars:
    __run_acmesh_task_file: "{{ role_path }}/tasks/cert/{{ __run_acmesh_loop_item }}"
  when:
    - run_acmesh_state == 'present'
    - __run_acmesh_task_file is ansible.builtin.file
  loop: "{{ __run_acmesh_platform_filenames_most_specific_first + ['default.yml'] }}"
  loop_control:
    loop_var: "__run_acmesh_loop_item"
  tags:
    - "run_acmesh_cert"


- name: "Main | Include setup tasks (uninstall): best platform matches (if any), then default"
  ansible.builtin.include_tasks:
    file: "{{ __run_acmesh_task_file }}"
    apply:
      tags:
        - "run_acmesh_setup"
  vars:
    __run_acmesh_task_file: "{{ role_path }}/tasks/setup/uninstall/{{ __run_acmesh_loop_item }}"
  when:
    - run_acmesh_state == 'absent'
    - __run_acmesh_task_file is ansible.builtin.file
  loop: "{{ __run_acmesh_platform_filenames_most_specific_first + ['default.yml'] }}"
  loop_control:
    loop_var: "__run_acmesh_loop_item"
  tags:
    - "run_acmesh_setup"
